/**
 * Default Variables.
 *
 * Modify this file to provide default Bootstrap Framework variables. The
 * Bootstrap Framework will not override any variables defined here because it
 * uses the `!default` flag which will only set their default if not already
 * defined here.
 *
 * You can copy existing variables directly from the following file:
 * ./THEMENAME/bootstrap/assets/stylesheets/bootstrap/_variables.scss
 */

// Set the proper directory for the Bootstrap Glyphicon font.
$icon-font-path: '../bootstrap/assets/fonts/bootstrap/';

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

//== Typography
//

@font-face {
  font-family: "Misses";
  src: url('../fonts/Misses/Misses.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/Misses/Misses.woff') format('woff'),
       url('../fonts/Misses/Misses.ttf')  format('truetype'),
       url('../fonts/Misses/Misses.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

//## Font, line-height, and color for body text, headings, and more.
$font-family-sans-serif:  Ubuntu, "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-title:      Misses, "Times New Roman", Times, serif !default;


//Link transition
a{
transition : all .25s ease-in-out;
-moz-transition : all .25s ease-in-out;
-webkit-transition : all .25s ease-in-out;
}
