
.prefooter{
	 background-size: cover;
	 .block-contact-block{
	 	padding: 35px;
    	background: rgba(255, 255, 255, 0.8);
    	margin: 100px 0;
    	h2.block-title {
		  color: $brand-primary;
		  text-align: left;
		}
	 }
}

.position-footer{
	margin-top: -120px;
}

.mountain2{
  background: url("../../refuges/images/montagnes-grises.png") no-repeat;
  position: relative;
  z-index: 1000;
  height: 169px;
  width: 100%;
}

.section-footer{
	background:#3E3E3E;
	color:#fff;
	margin-top: 100px !important;
	.footer{
		margin-top: 0 !important;
    	border-top:none;	
	}
}

.path-frontpage{
	.section-footer{
		margin-top: 0 !important;
	}
}
