
.prefooter{
	 background-size: cover;
	 #block-contactblock{
	 	padding: 35px;
    	background: rgba(255, 255, 255, 0.8);
    	margin: 100px 0;
	 }
}

.section-footer{
	background:#3E3E3E;
	color:#fff;
	margin-top: 0 !important;
	.footer{
		margin-top: 0 !important;
    	border-top:none;	
	}
}
