body {
    margin-top: 0 !important;
}

.top{
	//background-color: lighten($brand-primary,15%);
	background-image: linear-gradient(to right, $brand-secondary, $brand-primary);
  a{
    color: #fff;
  }
  a.btn-top{
    margin-top: 8px;
    @include btn-top;
  }
  .glyphicon-search{
    color: #fff;
    cursor:pointer;
    font-size:18px;
    padding-top: 10px;
  }
  #block-socialmedialinks {
    padding-top:10px;
    .fa-2x {
      font-size: 1.5em;
    }  
  }

}

.highlighted{
   .search-block-form{
    position: absolute;
    padding: 50px;
    width: 100%;
    z-index: 1000;
    background-color: #e9e9e9;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    .wrapper{
      width: 45%;
      margin: 0 auto;
    }
    .form-type-search{
        width: 80%;
        float: left;
    }
    #searchformclose{
      float: right;
      .glyphicon-remove{
        color: $brand-primary;
        font-size: 20px;
      }
    }
  }
}

.region-header{
    position: relative;
    transform-style: preserve-3d;
    .col-brand{
      text-align: center;
    }
    .hamburger{
      margin-top: 30px;
        .name-menu{
          font-weight: 700;
          text-transform: uppercase;
          color: #000;
        }
        button{
          background: none;
        }
        .glyphicon{
          color: $brand-primary;
          font-size: 20px;
        }
    }
    .branding {
      display: inline-block;
      a.name{
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
        color: #000;
        margin-top: 35px;
        &:hover{
          color: $brand-primary;
        }
      }
      .logo img {
        height: 87px;
        width: auto;
      }
    }
}

.node--type-section-header-image.node--view-mode-default,
#block-bois-views-block-slides-frontpage-slideshow{
position: relative;
 /* facultatif : résoud un bug non systématique de blur sur IE */
 transform-style: preserve-3d;

 	.infos,
  	.infos-diapo{
  	  position: absolute;
  	  top: 50%;
  	  left: 50%;
  	  transform: translate(-50%, -50%); /* compatibilité : ie9+ */
  	  text-align:center;
  	}

}
