/**
 * Variables du refuge de Plaisance.
 */

$brand-primary:         #127271;
$brand-secondary:		lighten($brand-primary, 12.5%) !default; // #cf2ed3

///FOOTER
.prefooter{
  background:url("../images/carte-google-plaisance.jpg") no-repeat;
}
