/**
 * Variables du refuge-porte de la Valette.
 */

$brand-primary:         #993300;
$brand-secondary:		lighten($brand-primary, 12.5%) !default; // #cf2ed3

///FOOTER
.prefooter{
  background:url("../images/carte-google-valette.jpg") no-repeat;
}
