/**
 * Variables du refuge-porte de la Martin.
 */

$brand-primary:         #3366cc /*#9F22A2*/;
$brand-secondary:		lighten($brand-primary, 12.5%) !default; // #cf2ed3

///FOOTER
.prefooter{
  background:url("../images/carte-google-martin.jpg") no-repeat;
}
