/**
 * Variables du refuge-porte de Rosuel.
 */

$brand-primary:         #666600;
$brand-secondary:		lighten($brand-primary, 12.5%) !default; // #cf2ed3

///FOOTER
.prefooter{
  background:url("../images/carte-google-rosuel.jpg") no-repeat;
}
